<p>
  <strong>Name:</strong><%=h @task.name %>
</p>
<p>
  <strong>Description:</strong><%=h @task.description %>
</p>
<p>
  <strong>Priority:</strong><%=h @task.priority %>
</p>
<p>
  <strong>Status:</strong><%=h @task.status %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>